<%- include("header") -%> 
<body class="search">
<main class="form-signin w-100 m-auto">
<form action="/" method="post">
    <h1 class="h1 big-heading mb-3">Search for Pokemon</h1>
    <div class="form-floating mb-3 rounded-corner">
        <input type="text" class="form-control" name="pokemonName" placeholder="Pokemon Name or Dex Number"
            required autofocus>
    </div>
    <button class="w-100 btn btn-lg search-button" type="submit">Search</button>
</form>
</main>
</body>
<%- include("footer") -%>
