body {
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3 {
    font-family: "Montserrat";
    font-weight: bold;
}

/* Headings */

.big-heading {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 1.5;
}

/* Containers */

container-fluid { 
    padding: 3% 15% 7%; 
}